body{
    background-color:black;
} 

.nombre{
 text-align: center;
 font-family: 'Silkscreen', cursive;
 top: 50px;
}

h1{
    color: chartreuse;
    font-size: 36px;
}

h2{
    color: chartreuse;
     font-size: 36px;
}


p{
    color: chartreuse;
    text-align: center;
    font-size:xx-large;
}

.contenedor{
    background-color:rgb(8, 4, 33);
    color: chartreuse;
    margin: 32px;
    border-style: none;
   
   
}

.encabezado{
    background-image:url(../desarrollo-web/imagenes/code.jpg);
    background-size: cover;
  
}

.foto-container{
    width: 10%;
    margin: auto;
}

.foto{
    width: 200px;
    border-radius: 360px;
    

}

a{
    font-family: 'Noto Sans JP', sans-serif;
    color: chartreuse;
}

.caja {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin:auto;
    justify-content: center;
    flex-wrap: nowrap;

}

.caja ol a {
    font-size: 17px;
}

article{
    width: 200px;
    margin: 5%;
    padding: 5%;
    margin: 50px;
    border-style: solid;
    text-align: center;
}

footer{
    background-image:url(../desarrollo-web/imagenes/code.jpg);
    background-size: cover;
  
} 

.enlaces{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin:auto;
    justify-content: center;
    flex-wrap: nowrap;

}

.enlaces p, a{

        width: 25%;
        font-size: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        color: chartreuse;
        text-decoration: none;
}

header{
    border-style: none;
}

footer{
   display: flex;
   flex-direction:column;
   padding: 10px;
   margin: auto;   
   flex-wrap: nowrap;
} 

footer ul {
display: flex;
flex-direction:row;
justify-content:space-between;
padding: 20px;


} 













